body { font-family: Arial; color: white; background-color: #336699; }
.title { font-size: 20px; font-weight: bold; height: 50px; line-height: 50px; vertical-align: middle; }
.subTitle { font-size: 16px; font-weight: bold; height: 20px; vertical-align: top; }
.listText { font-size: 14px; font-weight: normal; text-indent: 20px; text-decoration: none; white-space: nowrap; overflow: hidden; }
.thumbCell { text-align: center; }
.thumbDesc { font-size: 12px; font-weight: normal; text-decoration: none; white-space: nowrap; overflow: hidden; height: 25px; line-height: 25px; vertical-align: bottom; text-align: center; }
.imgDetail { font-size: 12px; font-weight: normal; text-decoration: none; white-space: nowrap; overflow: hidden; height: 25px; line-height: 25px; vertical-align: top; text-align: left; }
.sqImg { border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 600px; height: 600px; }
.sqThumb { border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 100px; height: 100px; }
.spflrImg { border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 460px; height: 600px; }
.spflrThumb { border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 100px; height: 130px; }
.shortcuts { font-family: Arial; color: white; text-decoration: none; font-weight: bold; padding-left: 19px; }
.nav { -webkit-appearance: button; -moz-appearance: button; appearance: button; font-family: Arial; color: white; text-decoration: none; font-weight: bold; background-color: #336699; border-radius: 8px; cursor: pointer; }
a:hover, a:visited, a:link, a:active { font-family: Arial; color: white; text-decoration: none; }
td { padding: 15px; }
